%p ¡Felicidades #{@user.first_name}!
%br
%p Has sido uno de los afortunados en encontrar tu boleto para entrar al concierto ¡MÁS CERCA DEL CIELO! con FUN. y MARTIN SOLVEIG presentado por TEQUILA CENTENARIO®
%br
%p Nos pondremos en contacto contigo nuevamente para darte los detalles de como canjear tu boleto.
%br
%p No olvides en seguir los detalles del concierto en www.facebook.com/CentenarioT y compartir tu emoción de asistir al concierto en Twitter utilizando el hashtag #MASCERCADELCIELO.
