%p ¡Felicidades #{@user.first_name}!
%p Folio: #{@user.ticket.folio if @user.ticket}
%br
%p Has sido uno de los afortunados en encontrar tu boleto para entrar al concierto ¡MÁS CERCA DEL CIELO! con FUN. y MARTIN SOLVEIG presentado por TEQUILA CENTENARIO®
%br
%p Para accesar al evento necesitas imprimir este correo y presentarlo junto con una identificación oficial en la dirección del evento: Paseo de la Reforma 190 esq. Paris, Col. Tabacalera.
%br
%p No olvides en seguir los detalles del concierto en www.facebook.com/CentenarioT y compartir tu emoción de asistir al concierto en Twitter utilizando el hashtag #MASCERCADELCIELO.
