- content_for :head_style do
  = stylesheet_link_tag "content"
#fb-root
%header
  %hgroup
    = image_tag "web/linea_amarilla_botones.png"
    %h2#header-top FUN
    %h2#header-bottom FACTS
    = image_tag "web/linea_amarilla_botones.png"
%section#fun
  %nav
    = link_to "", :root, :id => "home_button"
  %article#content-text
    %p Banda estadounidense con sede en Nueva York, fue formada por Nate Ruess, ex Integrante de The Format. Después de su desintegración en el 2008 Nate comenzó a desarrollar us carrera en Nueva York. Formó entonces el grupo con Andrés Dost de Anathalo y Jack Antonoff de Steel Train. Fun grabó su álbum debut Aim and Ignite en agosto de 2009 con el productor Steven McDonald y arreglista Roger Joseph Manning Jr. ex tecladista de Jellyfish.
    %p El primer sencillo de Fun fue "At Least Ièm Not As Sad (As I Used To Be)", disponible de forma gratuita mediante la página de la banda. Además, Fun creó su página de Facebook y llegó a 40,000 seguidores el 1 de diciembre. Su canción de Navidad "Believe in Me" también fue lanzada de forma gratuita.
