- content_for :head_style do
  = stylesheet_link_tag "content"
#fb-root
%header
  %hgroup
    = image_tag "web/linea_amarilla_botones.png"
    %h2.header-top FUN
    %h2.header-bottom FACTS
    = image_tag "web/linea_amarilla_botones.png"
%section.fun
  %nav
    = link_to "", :root, :id => "home_button"
  %article.content-text
    %p Banda estadounidense con sede en Nueva York, fue formada por Nate Ruess, ex Integrante de The Format. Después de su desintegración en el 2008 Nate comenzó a desarrollar us carrera en Nueva York. Formó entonces el grupo con Andrés Dost de Anathalo y Jack Antonoff de Steel Train. Fun grabó su álbum debut Aim and Ignite en agosto de 2009 con el productor Steven McDonald y arreglista Roger Joseph Manning Jr. ex tecladista de Jellyfish.
    %p El primer sencillo de Fun fue "At Least Ièm Not As Sad (As I Used To Be)", disponible de forma gratuita mediante la página de la banda. Además, Fun creó su página de Facebook y llegó a 40,000 seguidores el 1 de diciembre. Su canción de Navidad "Believe in Me" también fue lanzada de forma gratuita.
    %p En febrero de 2010, Fun apoyó a Jack's Mannequin en su gira, gracias a Vedera obtuvo sus primeras aparciones en Reino Unido en el mes de marzo. En abril de 2010, Fun acompaño a Paramore en su gira. La banda se embarcó en una completa gira por Reino Unido en mayo. En septiembre de 2011, Fun anunció que apoyaría a Janelle Monáe en la gira The Campus Consciousness Tour.
    %p La banda es conocida por sus éxitos “We Are Young”, con janelle Monáe y “Some Nights”. “We Are Young” alcanzó el número 1 en los charts de EE.UU en el Billboard Hot 100 y Digital Songs respectivamente. También alcanzó la misma posición en UK Singles Cart, “Some Nights” fue lanzado como segundo sencillo en junio del 2012 logrando alcanzar el lugar 3 en Billboard Hot 100 convirtiéndose así en el segundo sencillo de Fun en entra en el Top 10 de dicho chart, también convirtiéndos en la segunda canción de la banda en alcanzar el disco platino.
    %p El 5 de diciembre de 2012 FUN fue nominado a seis premios Grammy, de las seis nominaciones cuatro son las más importantes de los Grammy. Las nominaciones incluyen Mejor Artista Nuevo, Grabación del año, Canción del año y Mejor Actuación Pop Vocal de Grupo o Duo para “We Are Young”; Mejor Álbum Vocal Pop y Álbum del Año por Some Nights.
