<% content_for :head_script do %>
  <%= javascript_include_tag "index"%>
<% end %>
<div id="fb-root"></div>
<section>
  <article id="menu">
    <h2>Descubre que te espera más cerca del cielo</h2>
    <div data-path="search_clue">GANA TU PASE</div>
    <div data-path="invite_friends">INVITA A TUS AMIGOS Y GANA TU PASE</div>
    <div data-path="show_fun">FUN</div>
  </article>
</section>

