- content_for :head_style do
  = stylesheet_link_tag "content"
#fb-root
%header
  %hgroup
    = image_tag "web/linea_amarilla_botones.png"
    %h2.header-top MARTIN SOLVEIG
    %h2.header-bottom FACTS
    = image_tag "web/linea_amarilla_botones.png"
%section.martin
  %nav
    = link_to "", :root, :id => "home_button"
  %article.content-text
    %p Comenzó a producir en una temprana etapa de su carrera. A través de su sello, editó dos sencillos de 12 pulgadas, Heart of Africa y Come With Me. Estos sencillos combinan la música dance con música interpretada con instrumentos tradicionales. Bob Sinclair le invitó a unirse al proyecto Africanism que combina música aficana y música electrónica.
    %p En 2002, lanzó el álbum Sur La Terre, que contiene Heart of Africa como Edony. Otro tema notable del álbum es Linda, un tributo a Fela Kuti y Serge Gainsbourg. En 2003, trabajó con Salif Keïta en Madan que triunfó en Europa. Rocking Music, en la que destaca una figura rítmica de guitarra punk rock, llegó al top 40 en Australia. Madan y Rocking Music fueron remezclados en su segundo álbum, Suite. Madan fue mezclado de nuevo como una canción para la Copa del mundo de Alemania, Zidane Il Va Marquer! antes de la final entre Italia y Francia. Solveig fue uno de los productores del álbum de Bob Sinclar Western Dream, lanzado en 2006, precisamente en el tema For You. Su cuarto álbum de estudio C'est La Vie editado en 2008, logró vender más de 300.000 copias.
    %p Gracias a su sencillo Hello lanzado en 2010, en colaboración con  Dragonette, logra un gran reconocimiento mundial, obteniendo el doble platino en Canadá y es disco de platino en Estados Unidos, Australia, Alemania, Italia, Bélgica, Suiza y Nueva Zelanda, además de alcanzar el primer puesto en Hot Dance Club Songs de la revista Billboard de los Estados Unidos y en diversas listas musicales de todo el mundo.
    %p En junio de 2011, lanza su quinto álbum Smash, en el cual incluye éxitos como Hello y Ready 2 Go. Incluye la participación de grandes talentos musicales como Dragonette, el líder de la banda británica Bloc Party, Kele Okereke, el cantante de la banda francesa Phoenix, Thomas Mars, Jade Williams, una cantante británica conocida como Sunday Girl, además de la cantante estadounidense DEV.
    %p Debido a su rotundo éxito, Guy Oseary, mánager de Madonna, contactó con Martin Solveig a mediados de 2011, y le pidió que presentara varias demos para el próximo álbum de la cantante. La estrella estadounidense no dudó en contratarlo y grabaron en Londres su álbum MDNA.
