- content_for :head_style do
  = stylesheet_link_tag "content"
#fb-root
%header
  %hgroup
    = image_tag "web/linea_amarilla_botones.png"
    %h2#header-top FUN
    %h2#header-bottom FACTS
    = image_tag "web/linea_amarilla_botones.png"
%section#martin
  %nav
    = link_to "", :root, :id => "home_button"
  %article#content-text
    %p Comenzó a producir en una temprana etapa de su carrera. A través de su sello, editó dos sencillos de 12 pulgadas, Heart of Africa y Come With Me. Estos sencillos combinan la música dance con música interpretada con instrumentos tradiciones. Bob Sinclair le invitó a unirse al proyecto Africanism que combina música aficana y música electrónica. Más tarde lanzó el sencillo Edony, que tuvo buen recibimiento en todo el mundo.
