<% content_for :head_script do %>
  <%= javascript_include_tag "search_clue"%>
<% end %>
<header>
  <hgroup>
    <h1>EL CONCIERTO MÁS CERCA DEL CIELO</h1>
    <h2>Encuentra tu pase al concierto más cerca del cielo, localiza el punto donde crees que estamos ubicados y gana.</h2>
  </hgroup>
</header> 

<section>

  <figure id="clue-locator">
    <figcaption class="top-div">
      <div> Boletos encontrados </div>
      <div id="num-tickets">  </div>
    </figcaption>
    <div id="map-canvas"></div> 
  </figure>

  <article id="players">
    <div class="top-div"> Personas participando en este momento </div>
    <div class="player"></div>
    <div class="player"></div>
    <div class="player"></div>
    <div class="player"></div>
    <div class="player"></div>
  </article>

  <figure id="clue-info">
    <figcaption > 
      <h2> Ubica esta pista </h2>
    </figcaption>
    <img id="clue-image"/>
  </figure>

</section>

<%= content_tag "div", id: "ruby-values", data: {
  clue: @active_clue ? true : false, 
  clue_id: (@active_clue[:id] if @active_clue), 
  clue_image: (@active_clue[:image_url] if @active_clue), 
  total_tickets: (@active_clue[:total_tickets] if @active_clue), 
  remain_tickets: (@active_clue[:remain_tickets] if @active_clue), 
  can_guess: @can_guess 
} do %><% end %>
