- if @authorized == 'false'
  %p Parece que tu cuenta no está autorizada para participar. Por favor lee los términos y condiciones a continuación.
%header
  %h1 Términos y Condiciones
%section
  %p Para poder participar requieres mínimo 30 amigos en tu cuenta para comprobar que no estás intentando duplicar perfiles.
