- content_for :header_title do
  Llamado Centenario
%section#index-menu
  #index-menu-item
    = link_to "Pistas para móvil", :admin_clues_list_mobile, :class => "link-to-button-big"
  #index-menu-item
    = link_to "Reportes", :admin_reports, :class => "link-to-button-big"
