- content_for :header_title do
  del Concierto Más Cerca del Cielo
= link_to "Referidos", :admin_users_referrals 
= link_to "Pistas para web", :admin_clues_list_web 
= link_to "Pistas para móvil", :admin_clues_list_mobile
= link_to "Reportes", :admin_reports
