- content_for :header_title do
  del Concierto Más Cerca del Cielo
%section#index-menu
  #index-menu-item
    = link_to "Resumen", :admin_reports_summary, :class => "link-to-button-big"
  #index-menu-item
    = link_to "Usuarios", :admin_reports_users, :class => "link-to-button-big" 
