<div id="fb-root"></div>
<section>
  <div id="login">
   <p><button onClick="login();">Login</button></p>
  </div>
  <div id="logout">
   <p><button  onClick="FB.logout();">Logout</button></p>
  </div>
</section>
