<% content_for :head_script do %>
  <%= javascript_include_tag "search_clue"%>
<% end %>
<header>
  <hgroup>
    <h1>EL CONCIERTO MÁS CERCA DEL CIELO</h1>
    <h2>Encuentra tu pase al concierto más cerca del cielo, localiza el punto donde crees que estamos ubicados y gana.</h2>
  </hgroup>
</header> 

<section>

</section>
