// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  margin: auto;
  width: 100%;
  position: relative;
}

.map {
  height: 85%;
  width: 70%;
}

#clue-creator {
  height: 50%;
  width:  70%;
  margin: 1em 0 1em 0;
}

#map-canvas {
  height: 100%;
}

.image {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
  
.form-data {
  display: inline-block;
  width: 60%;
  margin: 2em 0;
}

.form-data-label {
  display: inline-block;
  width: 23%;
}

.form-data-input {
  width: 50%;
}
