html {
  height: 65%;
}

section {
  margin: auto;
  width: 80%;
  position: relative;
}

.invite {
  background: url("web/header_invita.png") no-repeat center top, url("web/fondo_informacion_esquina.png") no-repeat center;
}

.fun {
  background: url("web/header_fun.png") no-repeat center top, url("web/fondo_informacion_esquina.png") no-repeat center;
}

.martin {
  background: url("web/header_martin.png") no-repeat center top, url("web/fondo_informacion_esquina.png") no-repeat center;
}

.terms {
  background: url("web/header_conoce.png") no-repeat center top, url("web/fondo_informacion_esquina.png") no-repeat center;
}

.terms h1{
  margin: 0.5em;
}

#youtube {
  background: url("web/header_youtube.png") no-repeat center top, url("web/fondo_informacion_esquina.png") no-repeat center;
}

p {
  font-weight: normal;
  margin: 0;
}

#referral-count {
  font-size: 1.8em;
}

.message-top {
  font-size: 1.6em;
}

.message-bottom {
  font-size: 1.6em;
}

#footer {
  bottom: 18px;
  font-size: 0.8em;
  position: absolute;
}

#invite-friends {
  background: url("web/invitar_boton.png");
  display: inline-block;
  padding: 0.5em 0.5em;
  width: 310px;
  height: 52px;
  text-decoration: none;
  transition: all 1s ease;
}

#invite-friends:hover{
  opacity: 0.7;
}

#amigos {
  display: inline-block;
  height: 155px;
  margin: 1em 0.5em;
  overflow-y: auto;
  vertical-align: middle;
  width: 40%;
}

#invitar {
  display: inline-block;
  vertical-align: middle;
}

.thumbnail {
  margin: 0.1em 0.1em;
  display: inline-block;
}

nav {
  text-align: right;
  height: 30%;
}

nav a {
  background: url("web/boton_esquina.png");
  display: inline-block;
  padding: 0.5em 0.5em;
  width: 20px;
  height: 20px;
  text-decoration: none;
  transition: all 1s ease;
}

nav a:hover {
  opacity: 0.7;
}

.content-text {
  text-align: left;
  font-size: 0.8em;
  margin: 0.5em 1em;
}

#unauthorized {
  font-size: 0.9em;
  color: red;
  margin: 0.5em 1em;
}

.bases {
  margin: 0.5em 2em;
  text-align: left;
}

.bases p{
  margin: 0.5em;
}

.bases-sub-header {
  text-align: center;
}

#video-channel {

}

.header-top {
  font-weight: normal;
}

#map-title {
  width: 85%;
  display: inline-block;
  margin: 1em 2em 1em 1.5em;
}

#map-nav {
  height: 0;
  display: inline-block;
  vertical-align: top;
}

.has-ticket {
  background: url("web/header_pista.png") no-repeat center top, url("web/fondo_informacion_esquina.png") no-repeat center;
  display: none;
}

.yellow {
  color: #b09648;
}

.message-winner {
  font-size: 22px;
}

#terms{
  height:250px;
}
