@font-face {
  font-family: centenario;
  src: url('Champagne & Limousines.ttf');
}

@font-face {
  font-family: centenario;
  font-weight: bold;
  src: url('Champagne & Limousines Bold.ttf');
}

@font-face {
  font-family: centenario;
  font-style: italic;
  font-weight: bold;
  src: url('Champagne & Limousines Bold Italic.ttf');
}

@font-face {
  font-family: centenario;
  font-style: italic;
  src: url('Champagne & Limousines Italic.ttf');
}

html {
  background: url("web/background.jpg");
  color: white;
 	height: 100%;
  width: 804px;
  font-family: centenario;
}
      
body {
	height: 100%; 
	margin: 0; 
	padding: 0;
  text-align: center;
  width: 100%;
}

h2 {
  margin: 0;
}

header {
  margin: 1em 1em;
}
    
section {
  height: 100%;
  width: 100%;
}

#userTower {
  display: none;
}

.acceptRequestButton {
}
