html {
  height: 65%;
}

figure {
  margin: auto;
}

section {
  margin: auto;
  width: 80%;
  position: relative;
}

.map {
  background: url("web/fondo_informacion_esquina.png") no-repeat center top;
  font-weight: bold;
  display: block;
}

.map-found {
  background: url("web/header_pista.png") no-repeat center top, url("web/fondo_informacion_esquina.png") no-repeat center;
  display: none;
}

.map-not-found {
  background: url("web/header_pista.png") no-repeat center top, url("web/fondo_informacion_esquina.png") no-repeat center;
  display: none;
}

p {
  margin: 0;
}

nav {
  text-align: right;
  height: 30%;
}

nav a {
  background: url("web/boton_esquina.png");
  display: inline-block;
  padding: 0.5em 0.5em;
  width: 20px;
  height: 20px;
  text-decoration: none;
  transition: all 1s ease;
}

nav a:hover {
  opacity: 0.7;
}

.content-text {
  text-align: left;
  font-size: 0.8em;
  margin: 0.5em 1em;
}

.header-top {
  font-weight: normal;
}

.message-top {
  font-size: 1.6em;
}

.message-bottom {
  font-size: 1.6em;
}

.message-winner {
  font-size: 22px;
}

.yellow {
  color: #b09648;
}

#map-title {
  width: 85%;
  display: inline-block;
  margin: 1em 2em 0 1.5em;
}

.map-nav {
  height: 0;
  display: inline-block;
  vertical-align: top;
}

#players {
  width: 100%;
  background: url("web/linea_amarilla_larga.png") no-repeat center top, url("web/linea_amarilla_larga.png") no-repeat center bottom;
}

.player {
  border: none;
  display: inline-block;
  margin: 1em 3px;
  vertical-align: top;
}

.player-pic{
  height: 50px;
  width: 50px;
}

.top-div {
  margin: 0.5em 0;
}

#clue-info {
  color: white;
  height: 50%;
  margin: 1em 1em;
  width: 40%;  
}

#clue-info figure{
  background: black;
  height: 86%;
  margin-top: 0.5em;
}

#clue-locator {
  height: 50%;
  width: 40%;
  margin: 1em 1em;
}

#clue-title {
  background: black;
  color: #b09648;
  height: 13%;
  width: 100%;
}

#clue-image {
  margin: 1em 1em;
  max-width: 257px;
}

#clue-title p {
  padding: 0.5em 0.5em;
}

#clue-locator, #players, #clue-info
{
  display: inline-block;
  vertical-align: top;
  /*border-style: solid;*/
}

#map-canvas {
  border: 3px solid gray;
  height: 100%;
}

#num-tickets {
  color: #b09648;
}

#invitar {
  display: inline-block;
  vertical-align: middle;
}

#invite-friends {
  background: url("web/invitar_boton.png");
  display: inline-block;
  padding: 0.5em 0.5em;
  width: 310px;
  height: 52px;
  text-decoration: none;
  transition: all 1s ease;
}

#invite-friends:hover{
  opacity: 0.7;
}

#action-btn {
  background: url("web/encuentrapista_btn.png");
  border: none;
  cursor: pointer;
  height: 23px;
  margin-top: 3px;
  width: 112px;
}