@font-face {
  font-family: centenario;
  font-style: normal;
  font-weight: normal;
  src: url('Champagne_Limousines.eot'), url('Champagne_Limousines.ttf') format('truetype');
}

@font-face {
  font-family: centenario;
  font-weight: bold;
  src: url('Champagne_Limousines_Bold.eot'), url('Champagne_Limousines_Bold.ttf') format('truetype');
}

@font-face {
  font-family: centenario;
  font-style: italic;
  font-weight: bold;
  src: url('Champagne_Limousines_Bold_Italic.eot'), url('Champagne_Limousines_Bold_Italic.ttf') format('truetype');
}

@font-face {
  font-family: centenario;
  font-style: italic;
  src: url('Champagne_Limousines_Italic.eot'), url('Champagne_Limousines_Italic.ttf') format('truetype');
}

.bases {
  font-size: 0.5em;
  margin-top: 50px;
  text-align: center;
}

.foo {
  background-image: url('mobile/foofighters.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 388px;
}

.footer {
  font-family: Helvetica;
  font-size: 11px;
  margin-top: 50px;
  text-align: center;
  width: 630px;
}

.header-logo {
  height: 370px;
  width: 640px;
}

.home-div {
  background-color: #808080;
  font-size: 0.5em;
  height: 95px;
  margin: auto;
  padding-left: 35px;
  width: 625px;
}

.instrucciones {
  font-size: 0.8em;
  padding: 35px;
}

.instrucciones-div {
  background-color: #808080;
  height: 250px;
  width: 388px;
}

.instrucciones-full {
  background-color: #808080;
  height: 250px;
  width: 100%;
}

.letra-div {
  background-color: #1d1d1b;
  background-image: url('mobile/letra.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}

.letra-div, .instrucciones-div {
  display: inline-block;
  vertical-align: top;
  margin-right: -10px;
}

.letra-instrucciones {
  height: 250px;
  width: 640px;
}

.separator {
  background-image: url('mobile/linea_amarilla_concierto.png') center;
  height: 15px; 
  width: 400px;
}

.separator.center {
  margin: 0 auto;
} 

.subheader {
  font-size: 34px;
  margin: 0 auto;
  text-align: center;
}

.ui-content {
  padding-left: 0;
}

.ui-loader-verbose h1 {
  font-size: 30px;
}

.ui-page {
  background-image: url('mobile/fondo_apagadas.png');
  background-size: 100%;
  color: white;
  font-family: centenario;
  font-size: 3em;
  height: 1136px;
  max-width: 640px;
  width: 640px;
  text-shadow: none;
}

.yellow {
  color: #cc9700;
  font-weight: bold;
}

.yellow-header {
  background-color: #cc9700;
  color: black;
  font-weight: bold;
  height: 50px;
  margin: auto;
  padding-left: 35px;
  width: 640px;
}

#btn-facebook {
  margin-top: 80px;
  padding-left: 110px;
}

#btn-regresar {
  margin-top: 80px;
  padding-left: 160px;
}

#btn-search {
  margin-top: 80px;
  padding-left: 160px;
}

#manita {
  bottom: -10px;
  margin-left: 10px;
  position: relative;
}